.home {
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(44, 98, 119), rgb(107, 163, 180));
  }
  
  .logo {
    height: 30vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .homeHeader{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .buttonClass{
      height: 10vh;
      width: 30vh;
      font-size: 5vh;
      font-family: cursive;
      color: rgb(4, 66, 66);
      border-radius: 12px;
      background-image: linear-gradient(to bottom right, rgb(58, 124, 141), rgb(60, 132, 141), rgb(58, 124, 141));
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  